.titleStyles {
  font-size: 2rem;
  font-family: var(--font-secundary);
  font-weight: 600;
  position: relative;
}

.titleStyles > img {
  position: absolute;
  z-index: -1;
  top: 4px;
  left: -20px;
}

@media (max-width: 27.5rem) {
  .titleStyles {
    font-size: 1.5rem;
  }

  .titleStyles > img {
    display: none;
  }
}
